<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223289814112-46gdgkap7hpcedq947kjh32asb7jmbq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223289814112-46gdgkap7hpcedq947kjh32asb7jmbq2</string>
	<key>API_KEY</key>
	<string>AIzaSyAU1ckxY5t5hMf9jvfYT48LF1FlUer8WUg</string>
	<key>GCM_SENDER_ID</key>
	<string>223289814112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onurReklam</string>
	<key>PROJECT_ID</key>
	<string>onurreklam-83f58</string>
	<key>STORAGE_BUCKET</key>
	<string>onurreklam-83f58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223289814112:ios:15d0fe7b9cd181250ea705</string>
</dict>
</plist>